name: CI

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.12'

    - name: Install uv
      run: pip install uv

    - name: Create virtual environment
      run: uv venv
    - name: Install dependencies
      run: uv pip install -e .[dev]

    - name: Lint with ruff
      run: source .venv/bin/activate && ruff check ./src

    - name: Type check with mypy
      run: source .venv/bin/activate && mypy ./src

    - name: Test with pytest
      run: source .venv/bin/activate && pytest
